@import '../gwi/variables';
@mixin elevation ($level) {

  @if $level == 1 {
    box-shadow: 0 1px 3px rgba($color__shadow--base,0.12), 0 1px 2px rgba($color__shadow--base,0.24);
  } @else if $level == 2 {
    box-shadow: 0 3px 6px rgba($color__shadow--base,0.16), 0 3px 6px rgba($color__shadow--base,0.23);
  } @else if $level == 3 {
    box-shadow: 0 10px 20px rgba($color__shadow--base,0.19), 0 6px 6px rgba($color__shadow--base,0.23);
  } @else if $level == 4 {
    box-shadow: 0 14px 28px rgba($color__shadow--base,0.25), 0 10px 10px rgba($color__shadow--base,0.22);
  } @else if $level == 5 {
    box-shadow: 0 19px 38px rgba($color__shadow--base,0.30), 0 15px 12px rgba($color__shadow--base,0.22);
  }

}

@mixin card-frame ($level) {
  border-radius: $border__radius--main;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  @include elevation($level);
}
