$spacing__component-inner--default: 30px !default;
$spacing__component-inner--small: 5px !default;
$spacing__component-outer--default: 30px !default;
$spacing__component-outer--small: 10px !default;
$spacing__layout-outer--default: 40px !default;

$spacing__heading-top--default: 0 !default;
$spacing__heading-top-first--default: .5em !default;
$spacing__heading-top-first--small: .3em !default;
$spacing__heading-bottom--default: 1em !default;
$spacing__heading-bottom--small: .5em !default;
