.gwi-text {
  &--centered {
    text-align: center;
  }

  &__paragraph {

  }

  &__link {
    text-decoration: none;
    color: $color__text--highlight;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .15);
    &:hover {
      color: $color__text--link;
    }
  }
}

br {
  margin-bottom: .2em;
}
p {
  margin-bottom: .75em;
  &:last-child {
    margin-bottom: 0;
  }
}
