/* RAW COLORS */

// GOLD
$color__gold--1: rgb(195, 157, 0);
// BROWN
$color__brown--1: rgb(93, 69, 25);
$color__brown--2: rgb(239, 235, 233);
// BLUE
$color__blue--1: rgb(59, 96, 255);
$color__blue--2: rgb(20, 82, 183);
$color__blue--3: rgb(19, 34, 58);
// GREY
$color__grey--1: rgb(250, 250, 248);

/* TEXT COLORS */
$color__text--main: $color__blue--3;
$color__text--link: $color__blue--1;
$color__text--highlight: $color__blue--2;
$color__text--reverse: $color__grey--1;

/* LINE COLORS */
$color__line--main: $color__gold--1;
$color__line--table: $color__text--main;

/* BACKGROUND COLORS */
$color__background--main: $color__grey--1;
$color__background--dark: lighten($color__blue--3, 5%);

/* SHADOW COLORS */
$color__shadow--base: $color__blue--3;
$color__shadow--main: lighten($color__shadow--base, 0%);
